@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Study Group</h1>
    </section>

    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">

            <p>
                List of all the people in the study group, which their university information and some personal information.
            </p>
        </section>
    </div>
</main>